// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;

}

h1 {
  width:100%;
  text-align: center;
  color: lightseagreen;
  font-family: 'Lobster';
  font-weight:100;
  font-size:50px;
  margin-top:5px;
}

.lotto-box {
  width:520px;
  margin-left:auto;
  margin-right:auto;

}
#btnShuffle {
  height:35px;
  width: 85px;
  margin-top:40px;
  font-size: 20px;
  display: block;
  cursor: pointer;
  background: lightgrey;
  margin-left: auto;
  margin-right: auto;
  border:none;
  outline:none;
  &:hover {
    opacity:0.6;
  }
}

input[type=text] {
  border: none;
  border-radius: 50%;
  border-radius: 50%;
  width:60px;
  height:60px;
  margin-left:20px;
  text-align:center;
  background-color: blue;
  outline:none;
  font-size: 20px;
  font-family: 'Lobster', cursive;
  color: darkslategrey;
}

input#field1.input-default {
  background:yellow;
}
input#field2.input-default {
  background:greenyellow;
}
input#field3.input-default {
  background:palevioletred;
}
input#field4.input-default {
  background:red;
}
input#field5.input-default {
  background:coral;
}
input#field6.input-default {
  background:wheat;
}

input{
  margin-top: 20px;
}

ul >li {
  display: inline-block;
}

ul {
  padding:0px;
}

.numbers {
  text-align:center;
  font-family: 'Lobster';
  color: brown;
  margin-top:20px;
  font-size:20px;
}

.circle {
  font-family: 'Lobster';
  font-size:20px;
  color:coral;
  width: 520px;
  margin-left:auto;
  margin-right:auto;
}
.circles{
  list-style-type: none;
  margin-left:40px;
  margin-top:10px;
  border-radius: 50%;
  background-color:greenyellow;
  width:40px;
  height:40px;
  text-align:center;
  font-weight: 700;
  color: white;
  line-height:200%;
}

ol {
  padding: 20 20 20 20;
}

.can {
  width: 300px;
  height: 300px;
}
